.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  font-size: 2.5rem;
  padding: 1rem;
  margin: 1rem;
}

input {
  font-size: 1.5rem;
}
button:hover:not([disabled]) {
  background-color: rgb(78, 78, 112);
  color: white;
}

.conclusions  {
  margin:2rem;
}
.header  {
  margin:2rem;
}

.poc {  
  background-color: #ced0e0;
  padding: 2rem 4rem;
  border-radius: 0.5rem;  
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  margin: 2.5rem;
}

.button-active {
  background-color: rgb(246, 248, 252);
}
